Source: burpsuite-community
Section: utils
Priority: optional
Maintainer: Cyware Distribution (https://Cyware.org) <distro@cyware.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://portswigger.net/burp/tc-community

Package: burpsuite-community
Architecture: amd64
Depends: default-jre
Description: Investigate website interactions using a web proxy
